{% if groceryitem_list %}
	<h1>Welcome {{first_name}} {{last_name}}</h1>
	<ul>
		{% for groceryitem in groceryitem_list %}
			<li>
				<a href="/django_practice/{{ groceryitem.id}}/">{{groceryitem.item_name}}</a>
			</li>
		{% endfor %}
	</ul>

{% else %}

	<p>No tasks have been created!</p>

{% endif %}